<footer class="site-footer">
  <div class="container">
      <div class="row">
        <div class="span3">
          <h3 class="widget-title">À propos de NosDonnées.fr</h3>
          <div class="textwidget">
            <ul>
              <li><a href="/about">{{ _('About') }}</a></li>
              <li><a href="/api/1">API</a></li>
              {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">Documentation de l'API</a></li>
              <li>
                <a href="mailto:contact@regardscitoyens.org">Nous contacter</a>
              </li>
              <li>
                <a href="http://www.regardscitoyens.org/mentions-legales/">Mentions légales</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <h3 class="widget-title">Sections</h3>
          <div class="textwidget">
            <ul>
              <li>
                <a href="/user">
                  {{_('Users')}}
                </a>
              </li>
              <li>
                <a href="/tag">
                  {{_('Tags')}}
                </a>
              </li>
              <li>
                <a href="/stats">
                  {{_('Statistics')}}
                </a>
              </li>
              <li>
                <a href="/revision">
                  {{_('Revisions')}}
                </a>
              </li>
              <li>
                <a href="/revision/list?days=5&amp;format=atom">
                  RSS
                </a>
              </li>
              <li>
                <a href="/ckan-admin">
                  {{ _('Admin') }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <h3 class="widget-title">Langues</h3>
          {% snippet "snippets/language_selector.html" %}
	  <br>
          Couvert par l' <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License (ODbL)</a><a href="http://opendefinition.org/"> <img style="border: none;" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Ce contenu et ces données sont libres"></a>
        </div>
        <div class="span3">
          <h3 class="widget-title">Meta</h3>
          <p id="credits">
            &copy; 2013 <img id="footer-okf-logo" src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png"><a href="http://fr.okfn.org/">Open Knowledge Foundation France</a> &mdash;<br><img id="footer-rc-logo" src="http://www.regardscitoyens.org/favicon.png"> <a href="http://regardscitoyens.org/">Regards Citoyens</a><br>
            &copy; 2012
            <img id="footer-okf-logo" src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png">
            <a href="http://okfn.org/">Open Knowledge Foundation</a>
            <br>
            Propulsé par <a href="http://ckan.org">CKAN</a> v{{ g.ckan_version }}<br>
          </p>
        </div>
      </div>
  </div>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10423931-5']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- /Google Analytics -->
